/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    box-sizing: border-box;
}

body {
    font-family: helvetica, arial;
}

 .container {
    width: 100%;
    height: 100%;
    min-width: 850px;
}

.main {
    width: 100%;
    height: 550px;
    background-image: url(images/your_verse_hero1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    width: 80%;
    height: 35px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 10%;
}

.navbar img {
    width: 20px;
}

.navbar div {
    width: 100%;
    max-width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-image: linear-gradient(to top, rgb(120, 120, 120), rgb(90, 90, 90) 50%,  rgb(120, 120, 120) 50%, rgb(140, 140, 140));
    color: white;
    border-right: 1px solid rgb(80, 80, 80);
    cursor: pointer;
}

.apple {

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input {
    min-width: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

input {
    width: 80%;
    height: 60%;
    background: transparent;
    outline: none;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 20px;
    box-shadow: 2px 2px rgb(80, 80, 80) inset;
    padding: 0 25px;
}

.navbar .search {
    position: absolute;
    top: 12px;
    left: 23px;
    width: 12px;
}

.main h1 {
    width: 90%;
    display: block;
    position: absolute;
    top: 180px;
    left: 5%;
    text-align: center;
    font-size: 60px;
    color: white;
}

.main p {
    width: 90%;
    display: block;
    position: absolute;
    top: 300px;
    left: 5%;
    text-align: center;
    font-size: 30px;
    color: white;
}

.main span {
    width: 90%;
    display: block;
    position: absolute;
    top: 400px;
    left: 5%;
    text-align: center;
    font-size: 20px;
    color: white;
}

.section {
    width: 100%;
    height: 100%px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.section img {
    width: 100%;
    height: 100%;
}

.footer {
    width: 75%;
    height: 10%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
    gap: 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 159, 170);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.shop {
    white-space: nowrap;
}

.links {
    display: flex;
    gap: 5px;
    white-space: nowrap;
}

.links a {
    padding-right: 5px;
    border-right: 1px solid rgb(202, 202, 202);
}

.links img {
    width: 15px;
    border-radius: 50%;
}

.footer-bottom {
    display: flex;
    justify-self: flex-start;
    gap: 10px;
    white-space: nowrap;
    margin-bottom: 5px;
}